{% extends './base.html'%}
{% load static%}

{% block head %}
    <title>English</title>
    <link rel="stylesheet" href="{% static 'word/styles.css' %}">
{% endblock head %}

{% block content %}
    <form method="post">{% csrf_token %}
        <label>영어 단어</label>
        {{form.EN_word}}
        <label>한국어 단어</label>
        {{form.KO_word}}
        <label>분류</label>
        {{form.Class}}

        <input type='submit' value='전송'>
    </form>
    <a class="btn btn-outline-primary" href="{% url 'word:home-page' %}" role="button">취소</a>
{% endblock content %}