{% extends './base.html'%}
{% load space_to_underscore %}
{% load static%}

{% block head %}
    <title>word</title>
    <link rel="stylesheet" href="{% static 'word/styles.css' %}">
    <link rel="stylesheet" href="{% static 'word/main-home.css' %}">
    <script defer src="{% static 'word/home.js' %}"></script>
{% endblock head %}

{% block content %}
<body>

  <div class="recent-learn-container">
    <div class="guide-row">
      <h5>최근 학습함</h5>
      <div class="aaaa"><div class="show-all">모두 보기</div></div>
    </div>

    <div class="class-card-row col-12">
    </div>

  </div>

</body>
{% endblock content %}

{% block script %}
  <script>
    todayDayPostLen = "{{today_day_post_len}}"
    word = "{{word}}"
    word0 = "{{word.0}}"
  </script>
  
{% endblock script %}
