{% extends './base.html'%}
{% load space_to_underscore %}
{% load static%}

{% block head %}
    <title>word</title>
    <link rel="stylesheet" href="{% static 'word/styles.css' %}">
    <link rel="stylesheet" href="{% static 'word/main-home.css' %}">
    <script defer src="{% static 'word/home.js' %}"></script>
{% endblock head %}

{% block content %}
<br>

  <div class="recent-learn-container">
    <div class="guide-row">
      <h5>최근 학습함</h5>
      <div class="show-all">모두 보기</div>
    </div>

    <div class="class-card-row col-12">
    </div>

  </div>

{% endblock content %}
