{% extends './base.html'%}
{% load static%}

{% block head %}
    <title>English</title>
    <link rel="stylesheet" href="{% static 'word/update.css' %}">
    <script defer src="{% static 'word/create.js' %}"></script>
{% endblock head %}


{% block page-elem-top %}
<div class="page-elem-top update-top-background">
  <div class="page-elem">
    <div class="go-back-and-OK-btn-div">
      <a href="#" id="set-go-back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-left left-arrow-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>

        세트로 돌아가기
      </a>

      <button class="OK-btn" id="top-OK-btn">
        확인
      </button>
    </div>

    <div class="word-input">
      <input type="text" class="class_title">
      <la>제목</la>
      <input type="text" class="class_explanation">
      <la>설명</la>
    </div>
  </div>
</div>
{% endblock page-elem-top %}


{% block content %}



    <!-- <a id="naverENDictSearchUrl" target='_blank' class="btn btn-outline-success" href="#">네이버사전에서 영어단어 검색하기</a> -->
{% endblock content %}
