{% extends 'english/base.html'%}
{% load static%}

{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'word/styles.css' %}">
{% endblock head %}

{% block content %}
    <div class='container'>
        <h1>로그인</h1>

        <form method='POST' action="{% url 'accounts:login' %}">{% csrf_token %}
            사용자 이름:
            <br>
            <input autocomplete="off" name='username' type='text' auto>
            <br>
            
            <br>
            비밀번호:
            <br>
            <input autocomplete="off" name='password' type='text'>
            <br><br>
            <input type='submit' class='btn btn-primary' value='login'>
        </form>
        아직 회원가입을 하지 않으셨나요? <a href="{% url 'accounts:signup' %}">회원가입 하기</a><br>
    <a class="btn btn-outline-primary" href="{% url 'english:home-page' %}" role="button">취소</a>
{% endblock content %}