.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(20, 22, 30);
    height: 64px;
}

.page-elem {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.error {
  color: red;
}

.divider-top {
  text-align: center;
}

.float-left {
  float: left;
}

body {
  color: white;
  background-color: rgb(15, 16, 20);
}

#Quizlet {
  width: 69px;
  height: 26px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 900;
  vertical-align: middle;
  height: auto;
}

a {
  text-decoration: none;
}
