.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(20, 22, 30);
}

.page-elem {
    width: 1080px;
    margin-left: auto; 
    margin-right: auto;
}

.error {
  color: red;
}

.divider-top {
  text-align: center;
}

.float-left {
  float: left;
}

body {
  background-color: rgb(15, 16, 20);
}


